<div>
    <div id="container" >
        <p>Sign In</p>

        <form [formGroup]="signInForm" (ngSubmit)="signIn()">

            <div>
                <p>{{errorMessages.username}}</p>
                <label for="username">
                    username
                </label>
                <input id="username" type="text" formControlName="username">
            </div>

            <div>
                <p>{{errorMessages.password}}</p>
                <label for="password">
                    password
                </label>
                <input id="password" type="password" formControlName="password">
            </div>
            <p>{{errorMessages.signIn}}</p>
            <button class="button" type="submit">Sign In</button>
        </form>
        <a href="/register">Register Now</a>
    </div>

</div>
