#container{
    // background-color: rgb(255, 137,125);
    // border-radius: 2em 2em;
    // // border-radius:21% 18% 65% 0% / 10% 10% 37% 0%;
    // padding: 30px;
    // margin: 30px;
    // width: 25vw;
    // height: 80vh;
    // box-shadow: 0px 0px 4px #585353 inset, 0px 0px 4px #585353;
    // border-style: solid;
    // border-width: 5px;
    // border-color: white;
    // // box-shadow: 0px 0px 4px #585353;
    // // resize: horizontal;
    // text-align: center;
}

h1{
    font-family: 'Comfortaa', cursive;
}

#fishBowl{
    width: 25vw;
}

#name {
  color: #7f604f;
  border: 2px solid #e4deda;
  transition: 0.25s border;
  font-size: 16px;
  font-family: open sans;
}

#name::placeholder {
  color: #7f604f;
  font-family: open sans;
  font-size: 16px;
}

#name:focus {
  border: 2px solid #7f604f99;
}

#name:hover {
  border: 2px solid #7f604f99;
}

#desciption {
  color: #9b6b54;
  padding: 20px 30px;
  border: 2px solid #eae0db;
  transition: 0.25s border;
  font-size: 16px;
  font-family: open sans;
}

#desciption::placeholder {
  color: #9b6b54;
  font-family: open sans;
  font-size: 16px;
}

#desciption:focus {
  border: 2px solid #9b6b5485;
}

#desciption:hover {
  border: 2px solid #9b6b5485;
}

#time {
  color: #b67655;
  border: 2px solid #f0e3dc;
  transition: 0.25s border;
  font-size: 16px;
  font-family: open sans;
}

#time::placeholder {
  color: #b67655;
  font-family: open sans;
  font-size: 16px;
}

#time:focus {
  border: 2px solid #b676558f;
}

#time:hover {
  border: 2px solid #b676558f;
}

.party-heading {
    font-weight: bolder;
    font-size: 18px;
    margin: 21px 0 19px 0;
}

input[type=text], textarea, input[type=datetime-local] {
    width: 80%;
}

.padding-separator {
  margin-bottom: 10px;
}

.padding-textarea {
    margin-bottom: 7px;
}

.location-align {
    display: flex;
}

.location-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    padding: 0;
}

form {
    padding: 0 15px 15px 15px;
}

.error-submit {
    display: flex;
    justify-content: flex-end;
}

.location-text {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.text-width {
    width: 20%;
}

.button-override {
  font-family: Comfortaa;
  font-weight: bold;
}

.error {
    height: 22px;
    font-family: "Open Sans";
}
