<div style="padding-top:19px; padding-left: 40px;position: relative">
    <div class="logo-container">
      <img class="logo" src="../../assets/images/icon/logo2.svg"/>
    </div>
    <div id="container">
        <div (click)="OpenOption(0)" class="headerContainer background-gainsboro drop-shadow">
            <div class="tablet-name">
                <img src="../../assets/images/icon/search.svg"/>
                <h1 class="color-gainsboro-dimgray side-tablet-text tablet-heading">Find Pet Parties</h1>
            </div>
        </div>

        <div [@OpenOption]="options[0].state" style="overflow: scroll;">
            <div *ngFor="let party of allPartys">
                <div class="align-information" *ngIf="!ownsParty(party.ownerID)">
                  <div class="container-color">
                      <div class="party-information">
                          <div class="party-information-image">
                            <img *ngIf="party.profilePicture!=''" [src]="createUrl(party.profilePicture)" id="partyImage">
                            <img *ngIf="!(party.profilePicture!='')" src="../../assets/images/purpleMonster.png" id="partyImage">
                          </div>
                          <div class="party-information-text">
                              <h2 class="party-information-text-inner">{{party.name}} <br />
                                <span class="party-information-text-date">{{party.datetime | date: 'MMM d, y, h:mm:ss a'}}</span>
                              </h2>
                          </div>
                      </div>
                      <div>
                          <p class="party-information-description">{{party.discription}}</p>
                      </div>
                  </div>
                  <div class="join-leave-party">
                      <span class="join-leave-icon" (click)="toggleParty(party.id)" *ngIf="!joinedParty(party.usersID)"><img src="../../assets/images/icon/plus.svg"/></span>
                      <span class="join-leave-icon" (click)="toggleParty(party.id)" *ngIf="joinedParty(party.usersID)"><img src="../../assets/images/icon/check.svg"/></span>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        <div (click)="OpenOption(1)" class="headerContainer background-gainsboro-lighter drop-shadow">
            <div class="tablet-name">
           
                <img src="../../assets/images/icon/edit.svg"/>
                <h1 class="color-gainsboro-sienna side-tablet-text tablet-heading">Create Party</h1>
            </div>
        </div>
        <div [@OpenOption]="options[1].state">
            <div>
            <app-create-party (someEvent)='closeAll($event)'></app-create-party>
            </div>
        </div>
    </div>

    <div id="container">
        <div (click)="OpenOption(2)" class="headerContainer background-antiquewhite-lighter drop-shadow">
            <div class="tablet-name">
                <img src="../../assets/images/icon/users.svg"/>
                <h1 class="color-antiquewhite-peru-lighter side-tablet-text tablet-heading">My Parties</h1>
            </div>
        </div>

        <div [@OpenOption]="options[2].state">

            <div class="toggle-buttons">
                <button style="margin-right: 5px" (click)="showHosting()" [className]="showHostingBool ? 'activeB' : 'inactiveB'">Hosting</button>
                <button style="margin-left: 5px" (click)="showAttending()" [className]="!showHostingBool ? 'activeB' : 'inactiveB'">Attending</button>
            </div>

            <div *ngIf="showHostingBool">
                <div *ngFor="let party of allPartys">
                    <div *ngIf="ownsParty(party.ownerID)">
                    <div class="align-information">
                        <div class="container-color" style="background-color:#f7e8e08a">
                        <div class="party-information">
                            <div class="party-information-image">
                            <img *ngIf="party.profilePicture!=''" [src]="createUrl(party.profilePicture)" id="partyImage">
                            <img *ngIf="!(party.profilePicture!='')" src="../../assets/images/purpleMonster.png" id="partyImage">
                            </div>
                            <div class="party-information-text">
                            <h2 class="party-information-text-inner color-mistyrose-peru">{{party.name}} <br />
                                <span class="party-information-text-date">{{party.datetime | date: 'MMM d, y, h:mm:ss a'}}</span>
                            </h2>
                            </div>
                        </div>
                        <div>
                            <p class="party-information-description">{{party.discription}}</p>
                        </div>
                        </div>
                        <div class="join-leave-party">
                        <!-- <span class="join-leave-icon" (click)="toggleParty(party.id)" *ngIf="!joinedParty(party.usersID)"><img src="../../assets/images/icon/plus.svg"/></span>
                        <span class="join-leave-icon" (click)="toggleParty(party.id)" *ngIf="joinedParty(party.usersID) && ownsParty(party.ownerID)"><img src="../../assets/images/icon/check.svg"/></span> -->
                        <span class="join-leave-icon" (click)="deletePartys(party.id)" *ngIf="ownsParty(party.ownerID)"><img src="../../assets/images/icon/trash-attending.svg"/></span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!showHostingBool">
                <div *ngFor="let party of allPartys">
                    <div *ngIf="joinedParty(party.usersID) && !ownsParty(party.ownerID)">
                    <div class="align-information">
                        <div class="container-color" style="background-color:#f7e8e08a">
                        <div class="party-information">
                            <div class="party-information-image">
                                <img *ngIf="party.profilePicture!=''" [src]="createUrl(party.profilePicture)" id="partyImage">
                                <img *ngIf="!(party.profilePicture!='')" src="../../assets/images/purpleMonster.png" id="partyImage">
                            </div>
                            <div class="party-information-text">
                            <h2 class="party-information-text-inner color-mistyrose-peru">{{party.name}} <br />
                                <span class="party-information-text-date">{{party.datetime | date: 'MMM d, y, h:mm:ss a'}}</span>
                            </h2>
                            </div>
                        </div>
                        <div>
                            <p class="party-information-description">{{party.discription}}</p>
                        </div>
                        </div>
                        <div class="join-leave-party">
                            <span class="join-leave-icon" (click)="toggleParty(party.id)"><img src="../../assets/images/icon/x.svg"/></span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
