#container{
    background-color: white;
    // border-radius:21% 18% 65% 0% / 10% 10% 37% 0%;
    margin: 15px;
    width: 350px;
    // box-shadow: 0px 0px 4px #585353 inset, 0px 0px 4px #585353;
    text-align: center;
    overflow: scroll;
    pointer-events: all;
    position: relative;
    border-radius: 35px;
}

h1{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 22px;
}

#partyImage{
    height: 54px;
    width: 54px;
    border-radius: 50%;
    //box-shadow: 0px 0px 4px #585353 inset, 0px 0px 4px #585353;
    //border-style: solid;
    //border-width: 5px;
    //border-color: white;
}

.headerContainer{
    //position: fixed;
    height: 54px;
    width: 350px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer
}

.container-color {
    background-color: #e4deda7d;
    border-radius: 30px;
    padding: 15px;
    width: 80%;
}

.party-information {
    display: flex;
}

.party-information-text {
    display: flex;
    align-self: center;
}

.party-information-text-inner {
    margin: 0 0 0 13px;
    text-align: left;
    color: #7f604f;
    font-weight: bolder;
    font-size: 18px;
}

.party-information-text-date {
    color: #8a8f8c;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
}

.party-information-description {
    font-family: Open Sans;
    color: #8a8f8c;
    text-align: left;
    margin: 7%;
}

.align-information {
    display: flex;
     margin: 15px 0 15px 15px;
}

.join-leave-party {
    display: flex;
    align-self: center;
}

.join-leave-icon {
    padding: 10px;
    cursor: pointer;
}

.tablet-name {
    display: flex;
    width: 72%;
    height: 54px;
}

.tablet-heading {
    display: flex;
    align-self: center;
    padding-left: 15px;
}

.activeB{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 16px;
    background-color: #f7e8e0;
    color: #d17f56;
}

.inactiveB{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 16px;
    color: #a8b2af;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.logo {
  position: absolute;
  top: -11px;
  left: 308px;
  height: 100px;
}

.logo-container {
  position: relative;
  height: 77px;
}

.outer-container {
  padding-top:16px;
  padding-left: 40px;
  position: relative
}

@media screen and (max-width: 750px) {
  .outer-container {
    padding-left: 20px;
  }
  .logo {
      display: none;
  }
}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 420px) {
  .outer-container {
    padding-left: 0;
  }
  #chatContainer {
    width: 15px;
  }
}
