#chatContainer{
    pointer-events: all;
    // background-color: rgb(160, 125, 255);
    // height: 400px;
    position: fixed;
    bottom: 15px;
    right: 30px;
    cursor: pointer;
}

.notification {
    position: absolute;
    right: -6px;
    top: -5px;
    font-size: 15px;
    border-radius: 100%;
    padding: 7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c1541c;
    color: white;
}


#splitViews{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 0 10px 10px;
    // align-items: center;
    // align-items: center;
    // justify-content: center;

}

#partyImage{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

#parytChats{
    // background-color: rgb(255, 188, 181);
    width: 300px;
    margin-left:10px;
}

#parytChat{
    width: 300px;
    padding: 10px;
    position: relative;
}

#party{
    //display: grid;
    //grid-template-columns: 20% 20% 20% 20% 20%;
    display: flex;
    justify-content: center;
}

.party-chats {
    display: flex;
    position: relative;
    background-color: #e4deda7d;
    border-radius: 30px;
    height: 54px;
    width: 85%;
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 7px;
}

.party-chats-chevron {
    display: flex;
    padding: 6px;
    align-self: center;
}

#party:hover{
    //display: grid;
    //grid-template-columns: 20% 20% 20% 20% 20%;
    //background-color: rgb(255, 188, 181);
}

.imageDiv{
  grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    align-items: center;
    // align-items: center;
    justify-content: center;

}

.partyName{
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: comfortaa;

    .name{
        font-size: 16px;
        margin: 0px 0px;
        color: #7f604f;
        font-weight: bold;
    }

    .recentMessage{
        font-size: 12px;
        margin: 0px 0px;
        color: rgb(83, 83, 83);
    }
  }

  .underlinePartys{
      width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
  }


  //.unreadMessages{
  //    background-color: yellowgreen;
  //}

  .messagePictureSendHolder{
      display: flex;
    }


  .messageBox{
      display: flex;
      background-color: #f0e3dc;
      margin: 10px;
      width: 255px;
      border-radius: 30px;
      color: #b67655;
  }

  .messageBubbleMe{
      background-color: #eae0db80;
      margin: 5px 5px 5px 0;
      padding: 3% 7%;
      max-width: 200px;
      border-radius: 30px;
  }

  .messageBubbleNot{
    background-color: #c8764d26;
    margin: 5px 5px 5px 0;
    padding: 3% 7%;
    max-width: 200px;
    border-radius: 30px;

  }

  .unshift{
    display: flex;
    justify-content: flex-end;
  }

  .shift{
    display: flex;
    justify-content: flex-start;
  }

  .messageCreatorName{
      font-family: Comfortaa;
      font-size: 11px;
      font-weight: bolder;
      color: #9b6b54;
      padding: 5px;
  }

  .messageContent {
    font-family: Open Sans;
    color: #8a8f8c;
    padding: 5px;
  }

  #allMessages{
    overflow: scroll;
    height: 157px;
    display: flex;
    flex-direction: column-reverse;
  }

  .inputfile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  }

  .imageUploadLabel{
      height: 35px;
      width: 35px;
      padding-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .imageUploadLabel:hover{
    cursor: pointer;
}

  .button{
    height: 35px;
    width: 35px;
    background-color: rgba(209, 196, 18, 0);
    border-radius: 17.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(209, 196, 18);
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;

  }

  .button:hover{
    background: rgb(160, 150, 18);;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }

  .photoPickerHolder{
    grid-column-start: 7;
    grid-column-end: 8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#textBox{
    width: 142px;
    overflow: scroll;
    padding: 13px 25px;
    margin: 5px;
    border-radius: 20px;
}

*:focus {
  outline: none;
}

.SendDivHolder{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

.previewImageHolder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 8;
}

.messageImageHolder{
    display: flex;
    align-items: center;
    justify-content: center;
}

#messageHeader{
    background-color: #e4deda;
    color: #7f604f;
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: bolder;
    height: 54px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.message-heading {
    display: flex;
    align-self: center;
    padding-left: 10px;
}

.partysList{
  background-color: white;
  border-radius: 25px;
  height: 300px;
  margin-top: 0px;
}

.chatList{
  background-color: white;
  border-radius: 25px;
  height: 300px;
  position: relative;
}

.chatHeaderWithName{
  display: flex;
  margin-bottom: 10px;
}

.chatName{
    width: 100%;
    background-color: #f7e8e08a;
    height: 54px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
      color: #d17f56;
      font-family: Comfortaa;
      font-weight: bold;
      margin: 0px;
      font-size: 16px;
    }
}

.closeChat{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendyForm{
  position: absolute;
  bottom: 0px;
  width: 300px;
  background-color: white;
}

@media screen and (max-width: 750px) {
  #parytChats {
    width: auto;
  }
  .partyName {
    display: none;
  }
  .party-chats {
    background-color: white;
  }
  .party-chats-chevron {
    padding: 6px 0 6px 6px;
  }
  #parytChat {
    width: 245px;
  }
  .messageBox {
    width: 198px;
  }
}

@media screen and (max-width: 420px) {
  .message-heading {
    display: none;
  }
  #messageHeader {
    height: 54px;
    padding: 5px;
    width: 54px;
  }
  #chatContainer {
    bottom: 0px;
    right: 18px;
  }
  .partysList {
    height: 170px;
  }
  .chatList {
    height: 250px;
  }
  #parytChat {
    width: 217px;
  }
  .chatName {
    p {
      font-size: 2vh;
    }
  }
  .messageBox {
    width: 173px;
  }
  #allMessages {
    height: 104px;
  }
}



