<div id="chatContainer">
    <div>
        

        <div *ngIf="!inChat">

            <h2>
                Partys Chats
            </h2>
            
            <div *ngFor="let party of allPartys">
                <div *ngIf="joinedParty(party.usersID)">
                    <div  id="party" (click)="openChat(party.id)">
                        <div class="imageDiv">
                            <img src="../../assets/images/purpleMonster.png" id="partyImage">
                        </div>
                        <div class="partyName">
                            <p class="name">{{party.name}}</p>
                            <p class="recentMessage">
                                This should be the most recent message
                            </p>
                        </div>
                        <div class="unreadMessages">
                            {{calculateUnreadMessages(party)}}
                        </div>
                    </div>
                    
                    <!-- <hr class="underlinePartys"> -->
                </div>
                    
            </div>
        </div>

        <div *ngIf="inChat">
            <h2>
                {{activeChat.name}}
            </h2>
            <div>

            </div>
            <div style="overflow: scroll;">
                <!-- <p [innerHTML]="htmlStr"></p>
                {{activeChat.id}} -->
                <div  style="overflow: scroll; height: 300px;">
                    <div *ngFor="let message of allChats[activeChat.id].messages">
                        <div class="messageBubbleMe">
                            <div class="messageCreatorName">{{message.creator}}</div>
                            <div [innerHTML]="message.content" class="messageContent"></div>
                        </div>
                    </div>
                </div>

                <form  (ngSubmit)="sendMessage(activeChat.id)">
                    <div #postStatus contenteditable="true" class="form-control" placeholder="" class="messageBox"></div>
                    <button class="button" type="submit">send</button>
                </form>
                
            </div>
        </div>
            
    </div>
    
</div>
