#chatContainer{
    pointer-events: all;
    // background-color: rgb(160, 125, 255);
    // height: 400px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#splitViews{
  
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    // align-items: center;
    // align-items: center;
    // justify-content: center; 

}

#partyImage{
    height: 30px;
    width: 30px;
    border-radius: 50%;

    box-shadow: 0px 0px 4px #585353;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

#parytChats{
    // background-color: rgb(255, 188, 181);
    width: 300px;
    margin-left:10px;
}

#parytChat{
    width: 300px;
    padding: 10px;
    position: relative;
}

#party{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;  
}

#party:hover{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    background-color: rgb(255, 188, 181);
}

.imageDiv{
  grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    align-items: center;
    // align-items: center;
    justify-content: center; 

}

.partyName{
    grid-column-start: 2;
    grid-column-end: 5;
    
    .name{
        font-size: 12px;
        margin: 0px 0px;
        font-weight: 500;
    }

    .recentMessage{
        font-size: 12px;
        margin: 0px 0px;
        color: rgb(83, 83, 83);
    }
  }

  .underlinePartys{
      width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
  }


  .unreadMessages{
      background-color: yellowgreen;
  }

  .messagePictureSendHolder{
    display: grid;
      grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%; 
    }


  .messageBox{
    grid-column-start: 1;
    grid-column-end: 7;
      background-color: rgb(230, 213, 213);
    //   padding: 10px 0px 10px 0px;
      margin: 10px;
      border-radius: 25px;
      display: grid;
      grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%; 
  }


  .messageBubbleMe{
      background-color: rgb(245, 245, 212);
      margin: 5px;
      max-width: 200px;
      border-radius: 10px;
  }

  .messageCreatorName{
      font-size: 10px;
      padding: 5px;
  }

  .messageContent{
    font-size: 14px;
    padding: 5px;
  }

  #allMessages{
    overflow: scroll; 
    height: 170px; 
    display: flex; 
    flex-direction: column-reverse;
  }

  .inputfile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  }

  .imageUploadLabel{
      height: 35px;
      width: 35px;
      background-color: rgba(209, 196, 18, 0);
      border-radius: 17.5px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .imageUploadLabel:hover{
    height: 35px;
    width: 35px;
    background-color: rgb(160, 150, 18);
    border-radius: 17.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .button{
    height: 35px;
    width: 35px;
    background-color: rgba(209, 196, 18, 0);
    border-radius: 17.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(209, 196, 18);
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    
  }

  .button:hover{
    background: rgb(160, 150, 18);;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }

  .photoPickerHolder{
    grid-column-start: 7;
    grid-column-end: 8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#textBox{
grid-column-start: 1;
grid-column-end: 7;
margin-right: 5px;
padding: 10px 0px 10px 10px;
margin: auto 0px auto 0px;
border-radius: 20px;
}

*:focus {
  outline: none;
}

.SendDivHolder{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 7;
    grid-column-end: 8;

}

.previewImageHolder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 8;
}

.messageImageHolder{
    display: flex;
    align-items: center;
    justify-content: center;
}

#messageHeader{
  background-color: #A8B2AF;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.partysList{
  background-color: white;
  border-radius: 25px;
  height: 300px;
  margin-top: 0px;
}

.chatList{
  background-color: white;
  border-radius: 25px;
  height: 300px;
  position: relative;
}

.chatHeaderWithName{
  display: grid;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%; 
  margin-bottom: 10px;
}

.chatName{
  grid-column-start: 1;
    grid-column-end: 7;
    background-color: rgb(210, 201, 195);
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
      margin: 0px;
    }
}

.closeChat{
  grid-column-start: 7;
    grid-column-end: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendyForm{
  position: absolute;
  bottom: 0px;
  width: 300px;
}


