#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
}

#confirmCode::placeholder {
  color: #7f604f;
  font-family: open sans;
  font-size: 16px;
}

#confirmCode:focus {
  border: 2px solid #7f604f57;
}

#confirmCode:hover {
  border: 2px solid #7f604f57;
}

#confirmCode {
  border: 2px solid #f0e3dc;
  transition: 0.25s border;
  font-size: 16px;
  font-family: open sans;
}

.padding-separator {
  display: flex;
  margin-bottom: 13px;
}

.error {
  text-align: center;
  height: 20px;
  margin: 25px 0;
}

.loading {
  position: absolute;
  height: 100px;
  bottom: -25px;
  right: 13px;
}

.button-submit {
  display: flex;
  justify-content: flex-end;
}

.button {
  font-family: Comfortaa;
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  form {
    width: 95%;
  }
}
