<div id="menuContainer">
    <div id="allContent">
        <button (click)="logout()">logout</button>
        
        <app-create-party *ngIf="creatingParty"></app-create-party>
        
        <button (click)="createParty()" *ngIf="!creatingParty">create Party Toggle</button>


        <div id="mapInstructions" *ngIf="creatingParty">
            <div id="partyLocationInstruction"><p>Drag icon to location of party.</p></div>
        </div>
    </div>

    <div>
        <app-map></app-map>
    </div>
</div>

