
#allContent{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vw;
    pointer-events: none;
    z-index: 2;
}

#mapInstructions{
    z-index: 1;
    position: absolute;
    width: 100vw;
    display: flex;
    bottom: 10vh;
    // align-items: center;
    justify-content: center;
    pointer-events: none;
}

#partyLocationInstruction{
    padding: 40px;
    background-color: rgb(255, 255, 255);
    // position: absolute;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 4px #585353 inset, 0px 0px 4px #585353;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: rgb(255, 137,125);
    border-radius: 1em 1em;
    // pointer-events: none;
}

#logoutAndProfile{
    position: fixed;
    display: flex;
    top: 25px;
    right: 30px;
}

.profile {
  cursor: pointer;
}

#userProfilePage{
    height: 100%;
    width: 100%;
    background-color: #A8B2AF;
    position: fixed;
    top: 0px;
    z-index: 509;
    pointer-events:all;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileHolder{
    background-color: white;
    width: 60vw;
}

#header{
    height: 100px;
    background-color: turquoise;
    // grid-column-start: 1;
    // grid-column-end: 3;
}

#actualProfile{
    grid-column-start: 1;
    grid-column-end: 2;
}

#actualImages{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-evenly;
}

#anotherDiv{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40vw;
}

#textBox{
    background-color: whitesmoke;
}

.eachImageContainer{
    width: 9vw;
    // height: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theImage{
    border-radius: 20px;
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

.theImagePFP{
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

.theImagePFPbutton{
    border-radius: 50%;
    width: 54px;
    height: 54px;
    object-fit: cover;
  margin-right: 10px;
}

.pfpHolder{
    width: 8vw;
    height: 8vw;
    position: relative;
}

#buttonRandom{
    background-color: rgb(0, 0, 0);
    width: 3vw;
    height: 3vw;
    position: absolute;
    bottom: 3%;
    right: 3%;

}

.messageImageHolder{
    position: relative;

}

#aiContainer{
    position: absolute;
    left: 10px;
    top: 10px;
    div{
        background-color: #889eff;
        color: white;
        margin: 3px;
        padding: 2px 4px;
        border-radius: 20px;
        text-align: center;
    }
}

.logout {
    height: 54px;
    background-color: #e4deda;
    font-family: Comfortaa;
    color: #7f604f;
    font-weight: bolder;
    font-size: 18px;
    width: 140px;
    border-radius: 40px;
}

@media screen and (max-width: 1500px) {
  #logoutAndProfile {
    position: fixed;
    display: flex;
    top: 25px;
    left: 60px;
    right: 0;
  }
}
