
#allContent{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vw;
    pointer-events: none;
    z-index: 2;
}

#mapInstructions{
    z-index: 1;
    position: absolute;
    width: 100vw;
    display: flex;
    bottom: 10vh;
    // align-items: center;
    justify-content: center; 
    pointer-events: none;
}

#partyLocationInstruction{
    padding: 40px;
    background-color: rgb(255, 255, 255);
    // position: absolute;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 4px #585353 inset, 0px 0px 4px #585353;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: rgb(255, 137,125);
    border-radius: 1em 1em;
    // pointer-events: none;
}

#logoutAndProfile{
    position: fixed;
    top: 10px;
    right: 10px;
}

#userProfilePage{
    height: 100%;
    width: 100%;
    background-color: #A8B2AF;
    position: fixed;
    top: 0px;
    z-index: 509;
    pointer-events:all;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileHolder{
    background-color: white;
    width: 60vw;
  

}

#header{
    height: 100px; 
    background-color: turquoise;
    // grid-column-start: 1;
    // grid-column-end: 3;
}

#actualProfile{
    grid-column-start: 1;
    grid-column-end: 2;
}

#actualImages{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-evenly;
}

#anotherDiv{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40vw;
}

#textBox{
    background-color: whitesmoke;
}

.eachImageContainer{
    width: 9vw;
    height: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theImage{
    border-radius: 20px;
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

.theImagePFP{
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    object-fit: cover; 
}

.pfpHolder{
    width: 8vw;
    height: 8vw;
    position: relative;
}

#buttonRandom{
    background-color: rgb(0, 0, 0);
    width: 3vw;
    height: 3vw;
    position: absolute;
    bottom: 3%;
    right: 3%;

}


