<div>
    <div id="container" >
        <p>Register</p>

        <form [formGroup]="registerForm" (ngSubmit)="register()">

            <div>
                <p>{{errorMessages.username}}</p>
                <label for="username">
                    username
                </label>
                <input id="username" type="text" formControlName="username" (focusout)="validateUsername()">
            </div>

            <div>
                <p>{{errorMessages.name}}</p>
                <label for="name">
                    name
                </label>
                <input id="name" type="text" formControlName="name" (focusout)="validateName()">
            </div>

            <div>
                <p>{{errorMessages.surname}}</p>
                <label for="surname">
                    surname
                </label>
                <input id="surname" type="text" formControlName="surname" (focusout)="validateSurname()">
            </div>

            <div>
                <p>{{errorMessages.email}}</p>
                <label for="email">
                    email
                </label>
                <input id="email" type="text" formControlName="email" (focusout)="validateEmail()">
            </div>

            <div>
                <p>{{errorMessages.password}}</p>
                <label for="password">
                    password
                </label>
                <input id="password" type="password" formControlName="password" (focusout)="validatePassword()">
            </div>

            <div>
                <p>{{errorMessages.confirmPassword}}</p>
                <label for="confirmPassword">
                    confirmPassword
                </label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" (focusout)="validateCornfirmPassword()">
            </div>

            <button class="button" type="submit">Register</button>
        </form>
        <a href="/signIn">Sign In</a>
    </div>
    <!-- *ngIf="waitingForEmailConfirmation" -->
    <!-- <div id="container" > -->
        
        <app-confirm-user *ngIf="waitingForEmailConfirmation"></app-confirm-user>
    <!-- </div> -->
</div>
